<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>

<div>
    <% # What does local: true do? %>
    <%= form_with model: @user, local: true, method: :post do |form| %>
        <div>
            <% # Profile Picture Upload Form  - Displays default picture if no picture is uploaded already%>
            <%= form.label :profile_picture %>
                <% if @user.picture.attached? %>
                    <%= image_tag @user.picture %>
                <% else %>
                    <%= image_tag  "https://i.stack.imgur.com/34AD2.jpg"%>
                <% end %>
            <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
        </div>

        <div>
            <% # Username Text Input Form %>
            <%= form.label :username %>
            <%= form.text_field :username, value: @user.username %>
        </div>
        
        <div>
            <% # Bio Text Input Form %>
            <%= form.label :bio %>
            <%= form.text_area :bio, value: @user.bio, rows: "6" %>
        </div>

        <div>
            <% # BTC Address Text Input Form %>
            <%= form.label :btc_address %>
            <%= form.text_field :btc_address, value: @user.btc_address %>
        </div>

        <div>
            <% # Forms for updating location %>
            <%= form.label :country %>
            <%= form.text_field :country %>
        </div>

        <div>
            <%= form.label :city %>
            <%= form.text_field :city %>
        </div>

        <div>
            <% # Submit form%>
            <%= form.submit "Update"%>
        </div>
    <% end %>
</div>