<h1>Dashboard</h1>

<h3>Current Purchase Orders</h3>

<h6>Sellers</h6>
<%= link_to "Pending Listing Completions", pending_listings_path %> |
<%= link_to "Available Listings", available_listings_path %> | 
<%= link_to "Completed Listings", completed_listings_path %>

<h6>Buyers</h6>
<%= link_to "Current Purchase Orders", current_purchase_orders_path %> | 
<%= link_to "Purchase History", purchase_history_path %>

<% for purchase in @purchases %>
    <ul>
        <li>Purchase ID: <% purchase.id%> </li>
        <li>Listing ID: <%= purchase.listing.id %> </li>
        <li>Bought From: <%= purchase.listing.user.username %> </li>
        <li>Listing Title: <%= purchase.listing.title %> </li>
        <li>Listing Created At: <%= purchase.listing.created_at.strftime("%B %d, %Y") %> </li>
        <li>Purchase Made At: <%= purchase.created_at.strftime("%B %d, %Y") %> </li>
        <li>Payment Method: <%= purchase.listing.payment_method %> </li>
        <li>Price (BTC/AUD): <%= number_to_currency(purchase.listing.price_BTC_AUD) %></li>
        <li>Amount paid (AUD): <%= number_to_currency(purchase.listing.amount) %></li>
        <li>Order Status: Pending</li>
    </ul>
<% end %>