<h1>Dashboard</h1>

<h3>Pending Listings</h3>

<h6>Sellers</h6>
<%= link_to "Pending Listing Completions", pending_listings_path %> |
<%= link_to "Available Listings", available_listings_path %> | 
<%= link_to "Completed Listings", completed_listings_path %>

<h6>Buyers</h6>
<%= link_to "Current Purchase Orders", current_purchase_orders_path %> | 
<%= link_to "Purchase History", purchase_history_path %>

<% for listing in @listings %>
    <ul>
        <li>Listing ID: <%= listing.id %> </li>
        <li>Title: <%= listing.title %> </li>
        <li>Listing Created At: <%= listing.created_at.strftime("%B %d, %Y") %> </li>
        <%# need to access purchase user%>
        <li>User: <%= listing.purchase.user.username %> </li>
        <li>Price (BTC/AUD): <%= number_to_currency(listing.price_BTC_AUD) %></li>
        <li>Amount paid (AUD): <%= number_to_currency(listing.amount) %></li>
        <li>BTC Due: <%= (((listing.amount).to_f)/((listing.price_BTC_AUD).to_f)).round(9) %></li>
        <li>BTC Adress: <%= listing.purchase.user.btc_address %></li>
        <% # Form that updates status Enum from :pending_listing to :completed_listing %>
        <%= form_with url: pending_listings_update_path(listing.id), local: true, method: :patch do |form| %>
            <%= form.hidden_field :status, value: :completed_listing %>
            <%= form.submit "I have sent BTC"%>
        <% end %>
        
    </ul>
<% end %>