<h2>Buy Bitcoins</h2>

<h4> <%= @listing.title %> </h4>

<ul>
    <li> <%= link_to "#{@listing.user.username}",  user_path(@listing.user.id) %> </li>
    <% if @listing.user.feedback_score != nil%>
        <li>Reputation score: <%= @listing.user.num_completed_listings %> listing(s) sold; <%= number_to_percentage(@listing.user.feedback_score*100, precision: 1) %> </li>
    <% else %>
        <li>Reputation score: <%= @listing.user.num_completed_listings %> listing(s) sold; No feedback acquired;
    <% end %>
    <li> Price/BTC: <%= number_to_currency(@listing.price_BTC_AUD) %> </li>
    <li> Amount: <%= number_to_currency(@listing.amount) %> </li>
    <li> Payment Method: <%= @listing.payment_method %> </li>
    <li> Location: <%= @listing.user.city %>, <%= @listing.user.country %> </li>
    <li> Description: <%= @listing.description %> </li>
</ul>

<% if current_user == @listing.user && @listing.status == "available_listing"%>
    <%= link_to "edit", edit_listing_path(@listing.id) %>
    <%= form_with model: @listing, local: true, method: "delete" do |form| %>
        <%= submit_tag "delete" %>
    <% end %>
<% elsif current_user == @listing.user%>
<% else %>
    (Stripe FORMS TO BE ADDED) 
    <%= form_with url: create_purchase_path(@listing.id), local: true, method: :post do |form|%>
        <%= form.submit "Buy"%>
    <% end %>
<% end %>

